@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .jumbotron {
    /* on retina, use image that's scaled by 2 */
    background-size: auto;
  }

  #wrapper {
    margin-top: -40px;
  }
}

@media (min-width: 768px) {
  #wrapper {
    margin-top: 0px;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

.logo_container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.technologies .first-icon-wrapper,
.technologies .second-icon-wrapper,
.technologies .third-icon-wrapper {
  opacity: 1.0;
}

body {
  font-family: "Helvetica Neue", "Lato", sans-serif;
}

body.docs {
  background: #FFFFFF;
}
