@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #006CAB; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #009FD8; }

::-moz-selection {
  background: #43C5E4;
  color: #FFFFFF; }

::selection {
  background: #43C5E4;
  color: #FFFFFF; }

.jumbotron {
  background-color: #006CAB; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
      color: #006CAB; }

pre {
  background: rgba(247, 248, 248, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #F7F8F8; }

#content code {
  color: #423F40;
  background-color: #F7F8F8; }

#sidebar-wrapper {
  background: #006CAB; }

#page-content-wrapper .nav a {
  color: #423F40; }
  #page-content-wrapper .nav a:hover {
    color: #231F20; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #009FD8; }
.sidebar-nav > li a.active {
  border-left: 3px solid #43C5E4;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #009FD8; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #009FD8; }
